body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fefbd8; 
}

#game {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: url('https://raw.githubusercontent.com/Qincongyao/Whack-a-mole/main/bg-grass.png') no-repeat center center;
  background-size: cover;
  border-radius: 12px;
}

#score {
  font-size: 24px;
  font-weight: bold;
  color: #ffffcc; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  transition: transform 0.2s ease;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#startBtn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.hole.mole::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  background: url('https://raw.githubusercontent.com/Qincongyao/Whack-a-mole/main/May%208%2C%202025%2C%2011_15_02%20AM.png') no-repeat center/contain;
}


.hole.mole.hit::before {
  content: "🫠" !important;
}

#stopBtn {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #d63031;
  color: white;
  border: none;
  border-radius: 6px;
}
