body {
  font-family: sans-serif;
  text-align: center;
  background: url('https://raw.githubusercontent.com/Qincongyao/Whack-a-mole/main/ChatGPT%20Image%20May%208%2C%202025%2C%2011_19_07%20AM.png') no-repeat center center fixed;
  background-size: cover;
}


#game {
  max-width: 400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #d86172;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.hole.mole::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: brown;
  border-radius: 50%;
  top: 20px;
  left: 20px;
}
